/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-jun-2015, 10:19:50
    Author     : cice
*/

h1{
    
font-family: 'Yanone Kaffeesatz', sans-serif;

}

p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
}