*{margin: 0; padding: 0; box-sizing: border-box;}
html, body, main{height: 100%;}
body{font: 1em/1.5 sans-serif;}
main{
    min-width: 780px;
    min-height: 420px;
   
}

div.muestra{
    float: left;  
    position: relative;
    overflow: hidden;
   
}
.uno{
   background: rgba(0,0,0,0.2);
   height: 100vh;
   width: 61.77vw;
  
   
}
div:before{ 
    content: "";
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
}
.uno:before{
    height: 200vh;
    width: 123.54vw;
    border: 0;
    border-top: 2px solid #000;
 }
.dos{
    background: rgba(140,214,224,0.2);
    height: 61.9vh;
    width: 38.23vw;
 }
.dos:before{
    height: 123.8vh;
    width: 76.5vw;
    left: -38.6vw;
}
.tres{
   background: rgba(205,192,61,0.2);
    height: 38.1vh;
    width: 14.7vw;
   
}
.tres:before{
    height: 45.6vh;
    width: 29.4vw;
   
    top: -8.1vh;
   
}
.cuatro{
    background: rgba(237,5,4,0.2);
    height: 38.1vh;
    width: 23.52vw;
}
.cuatro:before{
    height: 76.5vh;
    width: 47vw;
    top:-39vh;
    left: -23.8vw;
}
.cinco{
   background: rgba(239,97,71,1);
   height: 14.30vh;
   width: 8.82vw;
   
}
.cinco:before{
    height: 29vh;
    width: 17.64vw;
}
.seis{
   background: rgba(79,105,70,0.2);
   height: 9.52vh;
   width: 5.88vw;
}
.seis:before{
    height: 19.1vh;
    width: 11.6vw;
    left: -6.1vw;
}
.siete, .ocho{
    height: 4.83vh;
    width: 2.94vw;
}
.siete:before, .ocho:before{
    height: 9.66vh;
    width: 5.9vw;
    top: -5.3vh;
    
    
}
.siete:before{
    border:0;
    border-bottom: 2px solid #000;
     top: -5.1vh;
}
.ocho:before{
    
    left: -3.35vw;
}
.siete{
    background: rgba(209,82,225,0.2);
}
.ocho{
   background: rgba(91,83,222,0.2);
}/*
div.muestra{
    background: #000;
   
}
div:before{ 
   
    border: 2px solid #fff;
}
.uno:before{
   
    border-top: 2px solid #fff;
 }
*/
