@-webkit-keyframes rotarCubo{
    0%{-webkit-transform: rotateY(0) rotateX(0deg) rotateZ(360deg); 
      }
    100%{-webkit-transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
       }
   
}

body{
    font-family: sans-serif;
}
main{
    perspective: 500px;
    perspective-origin: 50% -100px;
}
section{
    width: 200px;
    margin: 30% auto;
    /*Para poder transladar en el eje de las Z (3D=profundidad) debo poner la propiedad transform-style diciendo que preserve esas propiedades*/
    transform-style: preserve-3d;
    -webkit-animation: rotarCubo 3s infinite linear;
    
}
section:hover{
    cursor:pointer;
    -webkit-animation-play-state: paused;
}

section div{
    width: 200px;
    height: 200px;
    background: rgba(0,255,0,.3);
    font-size: 3em;
    text-align: center;
    line-height: 200px;
    color:#fff;
    border:1px solid #333;
    position: absolute;
}
section div:nth-child(1){
    background: rgba(255,0,0,.3);
}
.front{
    -webkit-transform: translateZ(100px);
}
.back{
    -webkit-transform: translateZ(-100px) rotateY(180deg);
}
.top{
   -webkit-transform: rotateX(-90deg) translateY(-100px);
   -webkit-transform-origin: top center;
}
.bottom{
   -webkit-transform: rotateX(90deg)  translateY(100px);
   -webkit-transform-origin: bottom center;
}
.left{
    -webkit-transform: rotateY(270deg) translateX(-100px);
   -webkit-transform-origin: left center;
}
.right{
    -webkit-transform: rotateY(-270deg)translateX(100px);
   -webkit-transform-origin: right center;
}
