
/*GENERALES
==============================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,main{
    height: 100%;
}
body{
    /*font: font-size/line-height  font-family*/
    font: 1em/1.5 sans-serif;
    background: #000;    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#222;
}
main{
    position: relative;
    z-index: 1;
}
section{
    padding:5% 10%;
}
h2{
    font-size: 4.3em;
    color:#fff;
}
p{
    font-size: 1.4em;
    margin-bottom: 1em;
    color:#fff;
}

/*RECURSOS
==============================*/
.btn{
    padding: 10px 25px;
    border-radius: 50px;
}
.green{
    color:#fff;
    background: #2ebd59;
}
.table{
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
}
.table > div{
    display: table-cell;
    vertical-align: middle;
}

/*HEADER
==============================*/
header{
    position: fixed;
    width: 100%;
    background: rgba(22,22,22,.7);
    padding: 3% 10%;
    overflow: hidden;
    line-height: 1.6em;
}
header h1{
    font-size: 1.6em;
    float: left;
    color:#fff;
}
header nav{
    float: right;
}
header nav li{
    display: inline;
    padding-left: 10px;
}
header nav a{
    color:#fff;
}

/*HOME
==============================*/


/*MUSICA
==============================*/
#musica{
    padding: 10%;
    background: #fff;
}
#musica h2{
    font-size: 3.5em;
    color:#222;
}
#musica p{
    font-size: 1.2em;
    color:#222;
}


/*RADIO
==============================*/
#radio {
    height: 60%;
}


/*FOOTER
==============================*/
footer{
    background: rgba(22,22,22,.7);
    color:#fff;
    text-align: center;
    font-size: .6em;
    padding: 20px;
}


/*VIDEO
==============================*/
#video-bg{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    opacity: .5;
    
    /*El contenido de un elemento debe ser insertado en el cuadro creado por el mismo -> cover, contain, fill*/
    object-fit: cover;
}