*{margin: 0; padding: 0; box-sizing: border-box;}
html, body, main{height: 100%;}
body{font: 1em/1.5 sans-serif;}
main{
    min-width: 780px;
    min-height: 420px;
   
}

div.muestra{
    float: left;  
    position: relative;
    overflow: hidden;
   
}
.uno{
   background: rgba(0,0,0,0.2);
   height: 100vh;
   width: 61.77vw;
  
   
}
:before{ 
    content: "";
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
}
.uno:before{
    height: 200vh;
    width: 123.54vw;
    border: 0;
    border-top: 3px solid #000;
 }
.dos{
    background: rgba(140,214,224,0.2);
    height: 61.9vh;
    width: 38.23vw;
 }
.dos:before{
    height: 123.8vh;
    width: 76.5vw;
    left: -38.7vw;
}
.cuatro{
    background: rgba(237,5,4,0.2);
    height: 38.1vh;
    width: 23.50vw;
}
.cuatro:before{
    height: 76.5vh;
    width: 47vw;
   left: -370.9px;
}
.tres{
   background: rgba(205,192,61,0.2);
    height: 38.1vh;
    width: 14.7vw;
}
.cinco{
   background: rgba(239,97,71,0.2);
   height: 14.28vh;
   width: 8.82vw;
}
.seis{
   background: rgba(79,105,70,0.2);
   height: 9.52vh;
    
   width: 5.88vw;
}
.siete{
   background: rgba(209,82,225,0.2);
   height: 4.83vh;
    width: 2.94vw;
}
.ocho{
   background: rgba(91,83,222,0.2);
   height: 4.83vh;
    width: 2.94vw;
}
