*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 1em/1.5 sans-serif;
}
header{
    background: #ff0033;
    color: #fff;
    overflow: hidden;
   
}
header h1{
    float: left;
}
header nav{
    float: right;
    
}
header nav ul li{
  
    display: inline-block;
    padding: 13px;
    border-left: #33ff00 solid 1px;
    
}
header nav ul li:hover{
    background: #33ff00;
    color: #ff0033;
}

