@media (max-width: 960px){/*===================================================================================================================================================================================================================================================================================================================================================================================================================*/
   
    div.col{
        width: 100%;
        height: 0;
        height: auto;

    }
    div.col:not(:first-child){
        margin-left: 0;
    }

    /*TITLES ===============================================================================*/
    section h3,  div.contenido h3{ font-size: 1.3em; width: 100%; }
    main#adopt div.contenido > h3{width: 90%; margin: 0 auto;}
    span.dog{font-size: 1em;}

    section h3 span:nth-child(1){
        font-family: 'Lobster', cursive;
        font-size: 1.2em;
        color: #F2907B;
    }
    section h3 span:nth-child(2){
        display: none;
    }
    /*====HEADER============================================================================*/
    header div.headerLogo a{
        width: 145px;
        height: 145px;
    }
    header div.headerLogo, header div.headerLogo h1{width: 90%}
    header div.headerLogo h1{display: none;}
    header nav ul li a{
        padding-left: 10px;
        padding-right: 10px;
    }
    /*Search box*/
    header div.headerLogo div.search div.searchBox{
        top: -138px;
        left: 0;
        width: 100px;

    }
    /*====CONTENIDO============================================================================*/
    /*    div.contenido{overflow: visible;}*/
    section{width: 90%;}

    /*====SECTION-NUESTRAS MASCOTAS===========================================*/
    section#nuestrasMascotas div.historias div.col h4{border-radius: 20px;/* margin-bottom: 5px; */}
    section#nuestrasMascotas div.historias {
        overflow: visible;
    }
    section#nuestrasMascotas div.historias div.col{margin-left: 0;margin-bottom: 15px;}
    section#nuestrasMascotas div.historias div.col.cuatro{
        margin: 5px 0;
        border-radius: 20px;
    }
    section#nuestrasMascotas div.historias div.col h4 a:hover{
        -webkit-transform: rotateX(360deg);
    }
    /*====SECTION-MASCOTAS TERAPEUTICAS======================================================*/
    section#otraAyuda{height: 0; height: auto;}
    section#otraAyuda div.mascotasTerapia div.rotate{display: none;}
    section#otraAyuda div.mascotasTerapia div.rotateAnimation img{
        right: 0%;
        width: 100%;
        z-index: -1;
    }
    section#otraAyuda div.mascotasTerapia div.moreInfoAyuda{
        display: block;
        text-align: center;
    }
    section#otraAyuda div.mascotasTerapia div.col p span{display: none;}
    section#otraAyuda div.mascotasTerapia div.moreInfoAyuda a{
        background: #F2907B;
        width: 100%;
        height: 52px;
        display: inline-block;
        border-radius: 15px;
        color: #fff;
        box-shadow: 0px 1px 1px #666666;
    }
    section#otraAyuda div.mascotasTerapia div.moreInfoAyuda a:hover{
        background: #5DB5AA;
        box-shadow: inset 0px 0px 5px #fff;
        box-shadow: 0px 1px 5px #666666;
        border: none;
    }
    /*=====CONTACT======================================================================*/
    main#contact div.contenido section#comentarios div.col.seis div.address p:before{
    display: inline-block;
    width: 75px;
   
}

    /*====FOOTER=========================================================================*/
    footer section.dogCatSocial div.col.cuatro:nth-child(2n+1){
        display: none;
    }
    footer section{
        margin: 0;
        width: 100%;
    }
    main#home footer div.goTop{top:-30px;}


    /*Dialogos*/

    /*
        main#adopt div.contenido section#comentarios{
            background: url(../img/adoptInfo.jpg) no-repeat center;
            background-size: contain;
        }
       
        main#adopt div.contenido section#comentarios div.adoptersInfo{
                    background: rgba(242,144,123,0.8);
            position: initial;
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
        }
    
        main#adopt div.contenido section#comentarios div.adoptersInfo div.dialog{
            position: inherit;width: 100%; height: 100%; opacity: 0;
        }
        main#adopt div.contenido section#comentarios div.adoptersInfo:nth-child(2):hover > div.dialog:first-child,main#adopt div.contenido section#comentarios div.adoptersInfo:nth-child(3):hover > div.dialog:first-child,main#adopt div.contenido section#comentarios div.adoptersInfo:nth-child(4):hover > div.dialog:first-child,main#adopt div.contenido section#comentarios div.adoptersInfo:nth-child(5):hover > div.dialog:first-child,main#adopt div.contenido section#comentarios div.adoptersInfo:nth-child(6):hover > div.dialog:first-child{border-radius: 20px; width: 100%; height: 100%; -webkit-transform: rotateX(360deg);}*/
    main#adopt section#comentarios img{
        display: none;
    }
    main#adopt div.contenido section#comentarios div.adoptersInfo{
        display: none;
    }
    /*HELP US*/
    main#helpus div.contenido:nth-child(2){
        background: url(../img/1DOG.png) rgba(246,233,217,.1) no-repeat top right;
        background-size: 200px;
    }
    main#helpus div.contenido:nth-child(3){
        background: url(../img/2DOG.png) #F6E9D9 no-repeat top right;
        background-size: 200px;
    }
    main#helpus div.contenido:nth-child(4){
        background: url(../img/3DOG.png) rgba(246,233,217,.1) no-repeat top right;
        background-size: 200px;
    }
    main#helpus footer{background: #F6E9D9;}

    /*CONTACT*/
    main#contact div.contenido{
        height: 800px;
    }
    main#contact div.contenido section#comentarios, main#contact div.contenido section#comentarios div.col.doce{
      
        height: 90%;
    }
    main#contact div.contenido:nth-child(2){
       

}

    main#contact div.contenido section#comentarios div.col.seis{
        height: 45%;
}


}
@media (max-width: 520px){/*===================================================================================================================================================================================================================================================================================================================================================================================================================*/
    section  h3{
        font-size: 1.3em;
    }
    header{position: relative;}


    header nav{
        text-align: center;
        /* margin-top: 50px; */


        background: transparent;
    }
    header nav ul{display: none;}
    header nav ul li{
        display: block;
    }
    header nav ul li a{
        background: rgba(242,144,123,0.2);
        display: block;
        margin: 10px
    }
    header div.headerLogo div.search div.searchBox{
        display: none;
    }
    header div.searchResp a{
        display: block;
        position: absolute;
        right: 5%;
        top: -5px;
    }
    header div.searchResp a:after{
        font-family: 'fontello', sans-serif;
        font-size: 1.5em;
        color: #5DB5AA;
        content: "\E80E";
    }
    header div#menuOptions a#call, header div#menuOptions a#empty{
        position: absolute;
        right: 5%;
        top: 85px;
    }
    header div#menuOptions a#call{display: block;}
    header div#menuOptions a#call:after{
        font-family: 'fontello', sans-serif;
        font-size: 1.5em;
        color: #5DB5AA;
        content: "\E80F";
    }
    header div#menuOptions a#empty:after{
        font-family: 'fontello', sans-serif;
        font-size: 1.5em;
        color:  #F2907B;;
        content: "\E811";
    }

    header div.headerLogo div.firstSocial{
        left: 0;
        width: 25px;
    }
    header div.headerLogo div.firstSocial a{
        display: block;
        width: 100%;
        height: 35px;
    }
    header nav#menuResp:target + div#menuOptions a#empty, header nav#menuResp:target ul{display: block;}
    header nav#menuResp:target + div#menuOptions a#call{display: none;}


}

@media (max-width: 360px){/*===================================================================================================================================================================================================================================================================================================================================================================================================================*/
  main#contact div.contenido section#comentarios div.col.seis div.address p:before{display: none;}
    main#contact div.contenido section#comentarios div.col.seis div.address p{
    font-size: 0.8em;
}
    div.mainSlider div.mainSliderIn h2{
        font-size: 3em;
    }
    div.mainSlider div.mainSliderIn p{
        font-size: 1.4em;
    }
}
